* {
    font-family: 'Roboto', sans-serif;
}

body {
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    padding-left:75px;
    padding-right:75px;
    margin: 0;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-flow: end;
    justify-content: center;
    padding-top: 10px;
    margin: 0;
}

ul {
    display: flex;
    text-align: end;
    text-decoration-style: none;
}
li {
    text-decoration-line: none;
    padding-left: 20px;
    list-style-type: none;
}

.welcome {
    display: flex;
    align-content:center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: initial;
    background-color: #1F2937;
    padding: 50px;
    margin: 0;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.right {
    justify-content: center;
    align-items: center;
}
.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero2 {
    font-size: 18px;
    color: #E5E7EB;
}

.section2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    justify-content: center;
    display: flex;
}
p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    height: 50px;
    font-weight: bolder;
    border-radius: 15px;
    border-style: none;
    font-family: 'Roboto', sans-serif;
}

.callout {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    padding: 25px;
    margin: 150px;
}

.calloutbutton {
    display: flex;
    padding: 25px;
    margin: 25px;
    border-color: white;
    border-style: ridge;
    align-items: center;
    font-weight: bolder;
}
.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 150px;
}

.quoteblock {
    display: flex;
    justify-content: center;
}
.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infobox {
    display: flex;
    justify-content: space-between;
}

.box1 p, .box2 p, .box3 p, .box4 p {
    color: black;
}
.infobox.box1 img {
    border-color: blue;
    border-style: ridge;
    border-radius: 15px;
}

img {
    max-width: 25vw;
    max-height: 25vh;
}

.infoimg {
    border-radius: 50px;
}