* {
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}


.welcome {
    display: flex;
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    color: #3882F6;
}

.callout {
    background-color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}