* {
    font-family: 'Roboto', sans-serif;
}

body {
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 100vw;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    padding-left:75px;
    padding-right:75px;
}

.welcome {
    display: flex;
    align-content:center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: initial;
    background-color: #1F2937;
    padding: 75px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}
.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero2 {
    font-size: 18px;
    color: #E5E7EB;
}

.section2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    justify-content: center;
    display: flex;
}
p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    height: 50px;
    font-weight: bolder;
    border-radius: 15px;
    border-style: none;
    font-family: 'Roboto', sans-serif;
}

.callout {
    background-color: #3882F6;
    display: flex;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infobox {
    display: flex;
    justify-content: space-between;
}

img {
    width: 20vw;
    height: 15vh;
}